<div class="container">
  <div class="row mt-4 text-center d-flex justify-content-center" style="height: 90px;">
    <h2>新規登録</h2>
  </div>
  <div class="row text-center d-flex justify-content-center">
    <div class="col-md-6">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-row d-flex justify-content-center">
        <div class="form-group col-6">
          <lavel>ユーザー名</lavel>
          <%= f.text_field :name, class: "form-control", placeholder: "ユーザー名", autofocus: true, autocomplete: "name" %>
        </div>
      </div>
      <div class="form-row d-flex justify-content-center">
        <div class="form-group col-6">
          <lavel>パスワード</lavel>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
          <%= f.password_field :password, class: "form-control", placeholder: "パスワード", autocomplete: "new-password" %>
        </div>
      </div>
      <div class="form-row d-flex justify-content-center">
        <div class="form-group col-6">
          <lavel>パスワード確認</lavel>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワード", autocomplete: "new-password" %>
        </div>
      </div>
      <div class="form-row d-flex justify-content-center">
        <div class="form-group col-6">
          <%= f.submit "登録", class: "btn btn-success w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
