<div class="container">
  <div calss="row">
    <div class="form-inline text-left">
      <h3><b>お気に入り一覧</b></h3>
      <h5>(全<%= @favorites.count %>件)</h5>
    </div>
    <div class="row row-cols-4">
      <% @favorites.each do |favorite| %>
        <div class="col">
          <div  class="row flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight mx-auto">
              <%= link_to edit_favorite_path(favorite) do %>
                <%= image_tag favorite.get_image_id, size: '220x150' %>
              <% end %>
            </div>
            <div class="p-2 bd-highlight text-center">
              <%= link_to favorite.name, edit_favorite_path(favorite) %>
            </div>
            <div class="p-2 bd-highlight text-center">
              <p><%= favorite.deadline %></p>
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to 'お気に入り登録', new_favorite_path %>
    </div>
  </div>
</div>