<div class='container px-5 px-sm-0'>
  <div class="row">
    <div class="col-md-4 text-center">
      <h3>メンバー</h3>
        <% @members.each do |member| %>
          <table class="m-auto">
            <tr>
              <th>メンバー名</th>
              <td><%= member.name %></td>
              <td>
                <%= link_to member_path(member), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
          </table>
        <% end %>
          <%= form_with model: @member, url: members_path, local:true do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>
            <%= f.submit '追加' %>
        <% end %>
    </div>
    <div class="col-md-7 ml-4 text-center">
      <h3>買うものリスト</h3>
      <div class="row row-cols-2">
        <%= render 'items/list', items: @items %>
      </div>
      <div class="row justify-content-center">
        <div class="col d-flex justify-content-center pt-2">
          <%= paginate @items %>
        </div>
      </div>
    </div>
  </div>
</div>