<div class='container px-5 px-sm-0'>
  <div class="row">
    <div class="col-lg-4 mt-2 text-center">
      <h3>メンバー</h3>
        <div class="shadow-sm overflow-auto rounded bg-light p-2 member_index">
          <% if @member == 0 %>
            メンバーがいません
          <% else %>
            <%= render "members/index", members: @members %>
          <% end %>
        </div>
      <div class="mt-3 form-inline d-flex justify-content-end">
        <div class="text-danger">
          <%= flash[:danger] %>
        </div>
        <%= form_with model: @member, url: members_path, local:false do |f| %>
          <div class="form-row">
            <div class="form-group">
              <%= f.text_field :name, class: "form-control", placeholder: "メンバー名" %>
              <%= f.submit '追加', class: "btn btn-primary ml-2" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-7 col-12 mt-2 text-center">
      <h3>買うものリスト</h3>
      <div class="row row-cols-2">
        <%= render 'items/list', items: @items %>
      </div>
      <div class="row justify-content-center">
        <div class="col d-flex justify-content-center pt-2">
          <%= paginate @items %>
        </div>
      </div>
    </div>
  </div>
</div>