<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="form-inline text-left m-3">
      <h3><%= @storage.name %></h3>
      <h5>(全<%= Item.where(user_id: current_user.id, storage_id: @storage.id).count %>件)</h5>
      <%= link_to edit_storage_path(@storage) do %>
        <i class="fas fa-edit"></i>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col">
      <%= form_with url: storage_path(@storage), method: :get do |f| %>
        <%= f.select :order, options_for_select([["更新日順","updated_at_order"],["期限順","latest_order"],["買うもの優先","purchase_status_order"],["名前順","name_order"]], :selected => params[:order]) %>
        <%= f.hidden_field :storage_id, value: @storage.id %>
        <%= f.submit '並び替える' %>
      <% end %>
    </div>
    <div class="col text-right">
      <%= link_to new_item_path(storage_id: @storage.id) do %>
        <button class="btn btn-success" >アイテム追加</button>
      <% end %>
    </div>
  </div>
  <div class="row row-cols-md-4 row-cols-2">
    <%= render 'items/list', items: @items %>
  </div>
  <div class="row justify-content-center">
    <div class="col d-flex justify-content-center pt-2">
      <%= paginate @items %>
    </div>
  </div>
</div>