<div class="container">
  <div calss="row">
    <div class="form-inline text-left">
      <h3><b><%= @storage.name %>のアイテム一覧</b></h3>
      <h5>(全<%= @items.count %>件)</h5>
      <%= link_to '保管所名変更', edit_storage_path(@storage) %>
      <%= link_to '削除', storage_path(@storage), method: :delete, data: { confirm: "この保管庫を削除しますか？" } %>
    </div>
    <div class="row row-cols-4">
      <% @items.each do |item| %>
        <div class="col">
          <div  class="row flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight mx-auto">
              <%= link_to edit_item_path(item) do %>
                <%= image_tag item.get_image_id, size: '220x150' %>
              <% end %>
            </div>
            <div class="p-2 bd-highlight text-center">
              <%= link_to item.name, edit_item_path(item) %>
            </div>
            <div class="p-2 bd-highlight text-center">
              <% if item.period > 0 %>
                あと<%= item.period %>日
            </div>
            <div class="p-2 bd-highlight text-center text-danger">
              <% elsif item.period == 0 %>
                期限日です
            </div>
            <div class="p-2 bd-highlight text-center text-danger">
              <% else %>
                期限が切れています
              <% end %>
            </div>
            <div class="p-2 bd-highlight text-center">
              <p><%= item.deadline %></p>
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to "物品追加", new_item_path(storage_id: @storage.id) %>
    </div>
  </div>
</div>