<%= form_with model: item, url: items_path, local:true do |f| %>
  <%= f.hidden_field :storage_id, value: params[:storage_id] %>
  <div class="form-row">
    <div class="form-group d-flex col-12">
      <label class="mr-1 my-auto text-nowrap">アイテム名</label>
      <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group d-flex col-md-12">
      <label class="my-auto mr-5 text-nowrap">個数</label>
      <%= f.text_field :amount, class: "form-control", placeholder: "個数" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group d-flex col-md-12">
      <label class="mr-5 my-auto text-nowrap">期限日</label>
      <%= f.date_field :deadline, class: "form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group d-flex col-md-12">
      <label class="mr-1 my-auto text-nowrap">画像</label>
      <%= f.file_field :image_id, accept: "image/*" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group d-flex justify-content-center m-auto col-sm-9 col-12">
      <lavel class="mr-1 my-auto text-nowrap">持ち主</lavel>
      <%= f.select :owner, options_from_collection_for_select(Member.where(user_id: current_user.id), :name, :name, :selected => @item.owner), {:include_blank => true}, {style: "width:130px;"} %>
    </div>
    <div class="form-group mt-3 col-sm-3 col-12">
      <%= f.label :purchase_status, '買う' %>
      <%= f.check_box :purchase_status, check:true, style: "transform:scale(1.5);" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <lavel>詳細</lavel>
      <%= f.text_area :comment, class: "form-control" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.submit '追加', class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
