<% items.each do |item| %>
  <div class="col">
    <div  class="row shadow-sm pt-2 mb-5 bg-body rounded flex-column bd-highlight text-aline m-1">
      <div class="bd-highlight mx-auto text-center">
        <%= link_to edit_item_path(item) do %>
          <p class="m-auto"><%= image_tag item.get_image_id, size: '220x150' %></p>
        <% end %>
        <p class="m-1"><%= link_to item.name, edit_item_path(item) %></p>
        <% if item.purchase_status == true %>
          <p class="m-auto w-25 bg-danger text-white">買う</p>
        <% else %>
          <p class="p-1"></p>
        <% end %>
        <% if item.period == nil %>
          <p class="my-1"></p>
        <% elsif item.period > 0 %>
          <p class="my-1">あと<%= item.period %>日</p>
        <% elsif item.period == 0 %>
          <p class="my-1 text-danger">期限日です</p>
        <% else %>
          <p class="my-1 text-danger">期限が切れています</p>
        <% end %>
        <% if item.deadline == nil %>
        <% else %>
          <p>期限日 <%= item.deadline %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>