<% items.each do |item| %>
  <div class="col">
    <div  class="row shadow-sm h-100 pt-3 mb-2 bg-body bg-light rounded text-aline">
      <div class="bd-highlight mx-1 text-center">
        <%= link_to edit_item_path(item.id) do %>
          <p class="mx-auto"><%= image_tag item.get_image_id, width: '60%', height: '60%' %></p>
        <% end %>
      </div>
      <div class="bd-highlight mx-1 text-center align-self-end w-100">
        <p class="m-1"><%= link_to item.name, edit_item_path(item) %>
          <% if item.item_comments.exists?(item.item_comments) %>
            <i class="far fa-comment"></i>
          <% end %></p>
        <% if item.purchase_status == true %>
          <p class="mx-auto my-1 w-25 bg-danger text-white rounded">買う</p>
        <% else %>
          <p style="height: 12px;"></p>
        <% end %>
        <% if item.period == nil %>
          <p style="height: 12px;"></p>
        <% elsif item.period > 0 %>
          <p class="my-1">あと<%= item.period %>日</p>
        <% elsif item.period == 0 %>
          <p class="my-1 text-danger">期限日</p>
        <% else %>
          <p class="my-1 text-danger">期限切れ</p>
        <% end %>
        <% if item.deadline == nil %>
          <p style="height: 12px;"></p>
        <% else %>
          <p class="my-1">期限日 <%= item.deadline %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>