<%= form_with model: @item, url: item_path, local:true do |f| %>
  <%= image_tag @item.get_image_id, size: '220x150' %>
  <div> 
    <%= f.label :image_id %>
    <%= f.file_field :image_id, accept: "image/*" %>
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </div>
  <div>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div>
    <%= f.label :deadline %>
    <%= f.date_field :deadline %>
  </div>
  <div>
    <%= f.label :owner %>
    <%= f.select :owner, options_from_collection_for_select(Member.where(user_id: current_user.id), :name, :name, :selected => @item.owner), :include_blank => true %>
  </div>
  <div>
    <%= f.label :purchase_status, '買う' %>
    <%= f.check_box :purchase_status, check:true %>
  </div>
  <div>
    <%= @item.deleted_at %>
    <%= f.submit '更新する' %>
  </div>
<% end %>
<%= form_with model: @item, url: item_path, local:true do |f| %>
  <%= f.hidden_field :deleted_at, value: true %>
  <%= f.submit '削除する' %>
<% end %>
<div>
<% @item_comments.each do |item_comment| %>
  <table>
    <tr>
      <th><%= item_comment.member.name %></th>
      <td><%= item_comment.comment %></td>
      <td>
        <%= link_to item_comment_path(item_comment), method: :delete, data: { confirm: "このコメントを削除しますか？" } do %>
          <i class="far fa-trash-alt"></i></td>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
<%= form_with model: @item_comment, url: item_comments_path, local:true do |f| %>
  <%= f.hidden_field :item_id, value: @item.id%>
  <%= f.select :member_id, options_from_collection_for_select(Member.all,:id,:name) %>
  <%= f.label :comment %>
  <%= f.text_field :comment %>
  <%= f.submit 'コメント登録' %>
<% end %>
</div>