<nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
  <%= link_to root_path do %>
    LOGO
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if user_signed_in? %>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto py-">
        <li>
          <%= link_to 'トップページ', storages_path, class: 'nav-link text-light mr-2' %>
        </li>
        <li>
          <%= link_to 'タグを作る', new_storage_path, class: 'nav-link text-light mr-2' %>
        </li>
        <li>
          <%= link_to '履歴', items_path, class: 'nav-link text-light mr-2' %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, class: 'nav-link text-light mr-2', method: :delete %>
        </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-md navbar-light navbar-dark bg-dark text-white">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <% Storage.where(user_id: current_user.id).each do |storage| %>
    <ul class="navbar-nav">
      <%= link_to storage_path(storage), class: 'nav-link text-light mx-2' do %>
      <li>
        <%= storage.name %>
      </li>
      <% end %>
    <% end %>
    </ul>
    </div>
    <div class="search_form">
        <%= form_with url: search_path, local: true, method: :get do |f| %>
          <%= f.hidden_field :id, value: current_user.id %>
          <%= f.text_field :word %>
          <%= f.submit '検索', class: "btn btn-primary" %>
        <% end %>
      </div>
    </nav>
  </div>
  <% end %>
</div>