<!DOCTYPE html>
<html>
  <head>
    <title>ItemManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100">
    <header>
      <%= render 'layouts/header' %>
    </header>
    <%= yield %>
    <footer class="bg-header w-100 text-center text-white" style ="height: 50px;" >
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
